@mixin cloudMixin($size) {
  visibility: hidden;
  @if $size > 2 {
    $size: 2;
  }
  @else if $size < 0.5{
    $size: 0.5;
  }
  background-color: #f2f9fe;
  width: 4.25vw * $size;
  height: 3vh * $size;
  border-radius: 100px;
  background: linear-gradient(to bottom,  #f6fbfb 50%, #cdf3fb 100%);
  position: absolute;
  @if $size > 0 and $size < 1  {
    top: 0vh + random(30);
  }
  @else if $size >= 1 and $size <2 {
    top: 1vh + random(29);
  }
  @else {
    top: 2vh + random(28);
  }
  left: -10vw;
  &::after,&::before{
    content: "";
    background: #f6fbfb;
    border: 0;
    position: absolute;
    border-radius: 100px;
  }
  &::after{
    width: 1.5vw * $size;
    height: 2.5vh * $size;
    top: -1.25vh * $size;
    left: 0.75vw * $size;
  }
  &::before{
    width: 1.75vw * $size;
    height: 3vh * $size;
    top: -2vh * $size;
    left: 1.75vw * $size;
  }
  animation-name: cloudMoveAnimation;
  animation-duration: 70s + random(20);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: random(15)+s;
}

@mixin raysMixin($rotate) {
  left: -24%;
  top: 33%;
  width: 0;
  height: 0;
  border-right: 6vw solid yellow;
  border-bottom: 2.5vh solid transparent;
  border-top: 2.5vh solid transparent;
  transform: rotate(0deg);
  animation-delay: $rotate+s;
  animation-duration: 8s;
  animation-name: raysAnimation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 100% 50%;
  position: absolute;
  z-index: -1;
}

@mixin petalMixin($size) {
  @if $size > 1 {
    $size: 1;
  }
    height: 5vh*$size;
    width: 0;
    position: absolute;
    top: 0.5vh;
    left: -6.0vw;
    border-top: 3vh*$size solid transparent;
    border-left: 9vw*$size solid transparent;
    border-bottom: 3vh*$size solid transparent;
    border-radius: 50px 0 0 50px;
    z-index: -1;
    transform-origin: 100% 50%;
    animation-name: petalColors;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 10s;
}

@mixin flowerMixin {

}
