body{
  height: 98.45vh;
  background: #168be5;
  background: linear-gradient(to bottom, #168be5 0%, #d6d6d6 44%, #29ce47 56%, #29ce47 100%);
  background-repeat: no-repeat;
  @media (max-width: 500px){
      height: 98.45vh;
      background: #768594;
      background: linear-gradient(to bottom, #0a3658 0%, #3d3c3c 44%, #032f0b 56%, #032f0b 100%);
      background-repeat: no-repeat;
  }
}
