.flower_whole{
  position: relative;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  .head{
    height: 50px;
    width: 50px;
    background-color: yellow;
    border-radius: 50%;
  }
}
